<table>

  <tr>
    <th *ngFor="let nombre of columnas">{{nombre | uppercase}}</th>
  </tr>

  <!-- <tr *ngFor="let elemento of elementos">
    <td>{{elemento}}</td>
    <td>{{elemento}}</td>
  </tr> -->

  <tr *ngFor="let elemento of listaVacia">
    <!-- Elementos fijos -->
    <!-- <td>{{elemento.id}}</td>
    <td>{{elemento.address.suite}}</td> -->

    <!-- Elementos dinámicos -->
    <td *ngFor="let nombre of columnas">{{elemento[nombre]}}</td>
  </tr>


</table>

<button (click)="getUsuarios()">Realizar Petición (Users)</button>

<button (click)="getAlbums()">Realizar Petición (Albums)</button>


<button (click)="showUsersTable()">Mostrar Información(Users)</button>

<button (click)="showAlbumsTable()">Mostrar Información(Albums)</button>



